@model List<MotoViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Listagem de Veículos</h2>
<table class="table table-responsive">
    <tr>
        <th>Ações</th>
        <th>ID</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Placa</th>
        <th>Kilometragem</th>
        <th>Valor</th>
        <th>Tipo</th>
        <th>Detalhes</th>
    </tr>
    @foreach (var moto in Model)
    {
        <tr>
            <td>
                <a href="/vendedor/Edit?id=@moto.Id">Editar</a> /
                <a href="javascript:apagarCarro(@moto.Id)">Apagar</a>
            </td>
            <td>@moto.Id</td>
            <td>@moto.Marca</td>
            <td>@moto.Modelo</td>
            <td>@moto.Placa</td>
            <td>@moto.Kilometragem</td>
            <td>@moto.Valor</td>
            <td>@moto.Cilindrada</td>
            <td>
                <a href="/carro/verDetalhes?id=@moto.Id">Ver detalhes</a>
            </td>
        </tr>
    }
</table>

<script>
    function apagarMoto(id) {
        if (confirm('Confirma a exclusão do registro?'))
            location.href = 'moto/Delete?id=' + id;
    }
</script>

<h2>Listagem de Veículos</h2>
<a href="/moto/create">Novo Registro</a>
<br />
<table class="table table-responsive">
