@model VeiculoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Cadastro de Veículo</h2>
<form action="Save" method="post" class="col-md-6">

    <input type="hidden" value="@ViewBag.Operacao" name="Operacao" />

    <label for="Id" class="control-label">ID</label>

    @if (ViewBag.Operacao == "I")
    {
        <input type="number" Name="Id" value="@Model.Id" class="form-control" />
    }
    else
    {
        <input type="number" Name="Id" value="@Model.Id" readonly class="form-control" />
    }
    <span asp-validation-for="Id" class="text-danger"></span>

    <br />
    <label for="Modelo" class="control-label">Modelo do Veículo</label>
    <input type="text" class="form-control" Name="Modelo" value="@Model.Modelo" />
    <span asp-validation-for="Modelo" class="text-danger"></span>
    <br />

    <label for="Ano" class="control-label">Ano</label>
    <input type="number" class="form-control" Name="Ano" value="@Model.Ano" />
    <span asp-validation-for="Ano" class="text-danger"></span>

    <br />
    <label for="Preco" class="control-label">Preço</label>
    <input type="text" class="form-control" Name="Preco" value="@Model.Preco" />
    <span asp-validation-for="Preco" class="text-danger"></span>

    <br />
    <label for="MarcaId" class="control-label">Marca</label>
    <select asp-for="Marca" asp-items="@ViewBag.ListaMarcas" class="form-control"></select>
    <span asp-validation-for="Marca" class="text-danger"></span>
    <br />

    <input type="submit" class="btn btn-info" value="Salvar dados" />
    <br />
</form>
