@model List<VeiculoViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Listagem de Veículos</h2>

<a href="/veiculo/create" class="btn btn-info">Novo Registro</a>
<br />

<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th>Ações</th>
            <th>ID</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Placa</th>
            <th>Preço</th>
            <th>Tipo</th>
            <th>Foto</th>
            <th>Ano</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var veiculo in Model)
        {
            <tr>
                <td>
                    <a href="/veiculo/edit?id=@veiculo.Id" class="btn btn-info">Editar</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="javascript:confirma(@veiculo.Id)" class="btn btn-danger">Apagar</a>
                </td>
                <td>@veiculo.Id</td>
                <td>@veiculo.Marca</td>
                <td>@veiculo.Modelo</td>
                <td>@veiculo.Placa</td>
                <td>@veiculo.Preco.ToString("c")</td>
                <td>@veiculo.Tipo</td>
                <td>
                    @if (veiculo.ImagemEmByte != null && veiculo.ImagemEmByte.Length > 0)
                    {
                        <img src="data:image;base64,@Convert.ToBase64String(veiculo.ImagemEmByte)" alt="Foto do Veículo" width="100" />
                    }
                    else
                    {

                        <span>Sem imagem</span>
                    }
                </td>
                <td>@veiculo.Ano</td>
            </tr>
        }
    </tbody>
</table>

<script>
    function confirma(id) {
        if (confirm('Deseja mesmo apagar?')) {
            location.href = '/veiculo/delete?id=' + id;
        }
    }
</script>
