@model List<VendedorViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Listagem de Vendedores</h2>
<table class="table table-responsive">
    <tr>
        <th>Ações</th>
        <th>ID</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Vendas</th>
    </tr>
    @foreach (var vendedor in Model)
    {
        <tr>
            <td><a href="/vendedor/Edit?id=@vendedor.Id">Editar</a> / 
                <a href="javascript:apagarVendedor(@vendedor.Id)">Apagar</a>
            </td>
            <td>@vendedor.Id</td>
            <td>@vendedor.Nome</td>
            <td>@vendedor.Telefone</td>
            <td>@vendedor.Vendas -- 
                <a href="/vendedor/listarVendas?id=@vendedor.Id">Listar vendas</a>
            </td>
        </tr>
    }
</table>

<script>
    function apagarVendedor(id) {
        if (confirm('Confirma a exclusão do registro?'))
            location.href = 'vendedor/Delete?id=' + id;
    }
</script>

<h2>Listagem de Vendedores</h2>
<a href="/vendedor/create">Novo Registro</a>
<br />
<table class="table table-responsive">
